{:file-types   [:apex]
 :input        [#_[snowbird.input.files-in-dir {:file-search-path "../tech-debt-measurement"}]
                [snowbird.input.files-from-strings {:analysis-path "./analysis-tmp"}]]
 :pmd-rules    {:apex "pmdrules_apex_v1.xml"}
 :pmd-command  "pmd pmd"
 :render       [[snowbird.render.violations-log {:destination-path "./violations.txt"}]
                [snowbird.render.serialize-results {:as [:data]
                                                    :destination-file "./results.edn"}]]

 :custom-rules {:apex [snowbird.custom-rules.apex.apex-filename-must-match-pattern
                       snowbird.custom-rules.apex.no-dml-in-controller]}
 :whitelist    {:apex {}}}



